* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  max-width: 100vw;
  width: 100vw;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: papayawhip;
}

#app {
  text-align: center;
  max-width: 100%;
  width: 100%;
}

button {
  border-radius: 8px;
  border: 1px solid papayawhip;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  font-size: 1.2rem;
  background-color: papayawhip;
  color: #213547;
}

button:hover,
button:focus,
button:active {
  border-color: #213547;
  background-color: rgba(240, 248, 255, 0.571);
}

header {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  max-width: 100dvw;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  font-size: 1.8rem;
}

nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  position: relative;
}

.sortButtons {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sortButtons button:nth-child(3) {
  background-color: orange;
}

.sortButtons button:nth-child(3):hover,
.sortButtons button:nth-child(3):focus,
.sortButtons button:nth-child(3):active {
  background-color: #ff8c008e;
}

.sortButtons button:last-child {
  background-color: green;
}

.sortButtons button:last-child:hover,
.sortButtons button:last-child:focus,
.sortButtons button:last-child:active {
  background-color: rgba(0, 128, 0, 0.582);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
}

.tableUi {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.table {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-size: 1.2rem;
}

.tableHead {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  border-bottom: 1px solid papayawhip;
  font-size: 1.5rem;
}

.tableHead div {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.tableHead div:nth-child(3) {
  gap: 10px;
}

.sortDate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  border: unset;
  background-color: papayawhip;
}

.sortDate:hover,
.sortDate:focus,
.sortDate:active {
  outline: 1px solid #213547;
}

.sortDate img {
  width: 20px;
  height: 20px;
}

.tableBodyRow div {
  padding: 0.5rem;
}

.tableBody {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.tableInfoBox {
  padding: 1rem;
}

.tableBodyRow {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  border-bottom: 1px solid papayawhip;
  padding: 0.5rem 0;
}

.tableBodyRow div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.sortDate {
  padding: 0.1rem;
}

#description {
  padding: 0.4rem;
  border: 1px solid papayawhip;
  border-radius: 0.3rem;
  font-size: 1.2rem;
}

#description:hover {
  border-color: #213547;
}
#description:focus,
#description:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

form {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

select {
  padding: 0.2rem 0.3rem;
  border: 1px solid papayawhip;
  border-radius: 0.2rem;
  text-align: center;
  font-size: inherit;
  background-color: papayawhip;
  color: #213547;
}

select:hover {
  border-color: #213547;
}
select:focus,
select:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

main {
  position: relative;
}

.messageBox {
  display: none;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30dvh;
  width: 100%;
}

.message {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  border: 1px solid papayawhip;
  text-align: center;
  padding: 0.5rem 2rem;
  background-color: rgb(210, 79, 79);
  color: black;
  border-radius: 0.2rem;
  font-weight: 500;
}

.date {
  position: fixed;
  left: 10px;
  top: 10px;
  color: #213547;
  font-weight: bold;
  letter-spacing: 0.2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: papayawhip;
  font-size: 1.6rem;
  width: 198px;
}

.menu {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 27.5%;
  right: 15px;
  padding: 0.5rem;
  background-color: papayawhip;
  height: 45%;
}

.menu img {
  width: 20px;
  height: 20px;
  fill: #213547;
}

.menuBox {
  display: none;
  visibility: hidden;
  position: absolute;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 160px;
  z-index: 1;
  top: 99%;
  right: 0;
  padding: 0 1rem 1rem 1rem;
  background-color: #242424;
}

.menuBox button {
  width: 100%;
  background-color: papayawhip;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
    border: 1px solid black;
  }
  input {
    border: 1px solid black;
  }
  #description {
    border: 1px solid black;
  }
  select {
    border: 1px solid black;
    background-color: unset;
  }
  header {
    background-color: #213547;
    color: papayawhip;
  }
  nav {
    background-color: papayawhip;
  }
  .date {
    background-color: #213547;
    color: papayawhip;
  }
  .tableBodyRow,
  .tableHead {
    border-bottom: 1px solid #213547;
  }
  .sortDate {
    background-color: unset;
  }
  .menuBox {
    background-color: #213547;
  }
}

@media screen and (max-width: 800px) {
  .menu {
    display: flex;
  }

  .menuBox {
    display: flex;
  }

  .sortButtons {
    display: none;
  }

  nav {
    justify-content: flex-end;
    border-bottom: 1px solid #213547;
  }

  button {
    font-size: 1rem;
  }

  header {
    font-size: 1rem;
  }

  .date {
    display: none;
  }

  .tableBodyRow {
    grid-template-columns: repeat(3, 33%);
    padding: 1rem 0 1rem 0;
  }

  .tableBodyRow div:first-child {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding-bottom: unset;
  }

  .tableBodyRow div:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-bottom: unset;
  }

  .tableBodyRow div:nth-child(2) {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    font-weight: bold;
  }

  .tableBodyRow div:last-child {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    padding-bottom: unset;
  }

  .tableHead {
    display: none;
  }
}

@media screen and (max-width: 1000px) and (min-width: 800px) {
  .date {
    font-size: 1rem;
  }

  header {
    font-size: 1.1rem;
  }

  button {
    font-size: 1rem;
  }
}
